<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Manage Iterations</h1>
</div>

<div class="row">
  <div
    *ngFor="let iteration of iterationsToHtml.iterations; index as i"
    class="col-lg-6"
  >
    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4" (click)="goToIterationDetails(iteration.id)">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          {{ iteration.name }}
        </h6>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsum et
        nemo ipsam omnis, atque laboriosam, sint facere harum veniam eum porro
        qui mollitia quasi, assumenda sed neque nihil corrupti?
      </div>
    </div>
  </div>
</div>
