<!-- Page Heading -->

<div class="row">
  <div class="col-lg-6 d-sm-flex align-items-center mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manage Iterations</h1>
  </div>
  <div class="col-lg-6">
    <div class="d-flex flex-row-reverse">
      <h2><span class="badge badge-pill badge-danger mr-2 ml-2">Failed</span></h2>
      <h2><span class="badge badge-pill badge-warning mr-2 ml-2">In Progress</span></h2>
      <h2><span class="badge badge-pill badge-success mr-2 ml-2">Success</span></h2>
    </div>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let iteration of iterationsToHtml.iterations; index as i"
    class="col-xl-3 col-md-6 mb-4 col-lg-6"
    (click)="goToIterationDetails(iteration.id)"
  >
    <app-iteration-card [iteration]="iteration"></app-iteration-card>
  </div>
</div>
