<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    routerLink="/"
  >
    <div class="sidebar-brand-text mx-3">VANITATI</div>
  </a>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <em class="fas fa-fw fa-tachometer-alt"></em>
      <span class="m-1">Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Nav Item - Iterations -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/iterations" routerLinkActive="active">
      <em class="fas fa-fw fa-cog"></em>
      <span class="m-1">Iterations</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="/products" routerLinkActive="active">
      <em class="fas fa-fw fa-boxes"></em>
      <span class="m-1">Products</span></a
    >
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="/teams" routerLinkActive="active">
      <em class="fas fa-fw fa-people-carry"></em>
      <span class="m-1">Teams</span></a
    >
  </li>
</ul>
<!-- End of Sidebar -->
