<h1 class="h3 mb-0 text-gray-800 pb-1">New Iteration</h1>
<div *ngIf="iteration" class="form-group row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <mat-form-field appearance="fill">
      <mat-label>Iteration Name:</mat-label>
      <input
        matInput
        #input
        type="text"
        name="iterationName"
        [(ngModel)]="iteration.name"
        id="iterationName"
        placeholder="Iteration Name"
      />
    </mat-form-field>
  </div>
  <div class="col-sm-6">
    <mat-form-field appearance="fill">
      <mat-label>Iteration Goal:</mat-label>
      <input
        matInput
        #input
        type="text"
        name="iteratioGoal"
        [(ngModel)]="iteration.goal"
        id="iteratioGoal"
        placeholder="Iteration Goal"
      />
    </mat-form-field>
  </div>
</div>

<div *ngIf="iteration" class="form-group row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <mat-form-field appearance="fill">
      <mat-label>Start Date:</mat-label>
      <input
        matInput
        type="datetime-local"
        name="iteratioStartDate"
        [(ngModel)]="iteration.startDate"
        id="iteratioStartDate"
        placeholder="Start Date"
      />
    </mat-form-field>
  </div>
  <div class="col-sm-6">
    <mat-form-field appearance="fill">
      <mat-label>Start Date:</mat-label>
      <input
        matInput
        type="datetime-local"
        name="iteratioEndDate"
        [(ngModel)]="iteration.endDate"
        id="iteratioEndDate"
        placeholder="End Date"
      />
    </mat-form-field>
  </div>
</div>

<div *ngIf="iteration" class="form-group row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <mat-form-field appearance="fill">
      <mat-label>Select Product:</mat-label>
      <mat-select [(value)]="iteration.idProduct" required>
        <mat-option *ngFor="let product of productsSelect" [value]="product.id">
          {{ product.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="teamIdControl.hasError('required')"
        >Please choose a product</mat-error
      >
    </mat-form-field>
  </div>
</div>
